body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #f8f8f8;
    padding: 20px;
}
main {
    padding: 20px;
}
footer {
    background-color: #f8f8f8;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
